<div class="First_para"><br><br>Train no: <input type="text" id="Source"/>
Time: <input type="text" id = "Dest"/><br><br>
<button class="Search_button" (click)= "FetchData()">Search</button> <br><br> </div>

    <table id="text" cellspacing= 0 class="table_align">
        <tr *ngIf="Data">
            <th>Train_no</th>
            <th>Name</th>
            <th>starting_time</th>
            <th>Arrivaing_time</th>
        </tr>
            
    
        <tbody *ngFor="let data of Data">
           
            <tr >
                <td> {{ data.Train_no }} </td>
                <td> {{ data.Name }} </td>
                <td>{{data.starting_time}}</td>
                <td>{{data.Arrivaing_time}}</td>
                
            </tr>
        </tbody>
    </table>
